In [ ]:
import pandas as pd

In [6]:
# Load the dataset
data = pd.read_csv('SolarCitizenInternalReport.csv')
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,NaN,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,NaN,NaN,NaN,NaN
1,1553796,NaN,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,NaN,NaN,NaN,NaN
2,1352473,NaN,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,NaN,NaN,NaN,NaN
3,1252765,NaN,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,NaN,NaN,NaN,NaN
4,1497201,NaN,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,NaN,NaN,NaN,NaN

In [8]:
data.isnull().sum()

ps_ids                115
client_name          8253
daily_production      115
daily_consumption    3262
install_power         115
specific_yield         74
deviation_percent     173
Vendor                115
status                115
date                  115
inverter_category     119
potential_savings     427
time_recorded        2468
city                 8274
weather              8274
epc                  8253
dtype: int64

In [26]:
clients = {
    "1231654": "Shahid Khan",
    "1240364": "Jubilee Spinning",
    "1252765": "Assad Rahim",
    "1289442": "Aman Naseem",
    "1307163": "Najeeb Saad",
    "1310804": "Muhammad Aslam Jamot",
    "1312163": "Shehriyar Zaidi",
    "1328323": "Ali Javeri",
    "1334120": "Paul Textile",
    "1352473": "Taimur Kaleem",
    "1483330": "Malik Ghayoor",
    "1485524": "Rubab Zehra",
    "1497201": "Mujtaba Raza",
    "1553796": "Sikander Kasim",
    "1561078": "Umair Aijaz",
    "1597149": "Moiz Ahmed",
    "1625771": "Haider Waheed [10kW]",
    "1625780": "Haider Waheed [20kW]",
    "1199280": "Hisham Abdul Kadir",
    "1206067": "Imran Hanif",
    "1206667": "Talib Karim",
    "1207292": "Zia Akhtar Rizvi",
    "1208647": "Omar Abbasi",
    "1626352": "Abdul Hameed Baig",
    "1215686": "Zohra Alam",
    "1195721": "Nauman Ul Arfeen",
    "1222062": "Asad Iftikhar",
    "NE=49771840": "Rizwan Farooq",
    "NE=49709713": "Adil But",
    "NE=50447754": "Ehtesham Ali",
    "NE=47806824": "Syed Razi Aziz",
    "NE=50368573": "Aslam Khaliq",
    "NE=49759147": "Syed Safdar Husain",
    "NE=50146552": "Qamar-e-Bani Hashim",
    "NE=50348103": "Hizbullah Bhutto",
    "NE=51039519": "Raja Dawood Akbar",
    "NE=50807506": "Mujtaba Pirwani",
    "NE=51138805": "IoBM",
    "NE=52858953": "Asharys",
    "NE=49771193": "Justice Agha Rafiq",
    "NE=51315774": "Shahid Nadeem",
    "NE=51142924": "Saad Nasir",
    "NE=50490570": "Saeed Shahzad",
    "NE=50328253": "Tariq Abdullah",
    "NE=51143444": "Usman Wali",
    "NE=50582712": "Commtel",
    "NE=51093745": "Najeeb Danawala",
    "NE=49738811": "Muhammad Irshad Ataka",
    "NE=49769219": "Avicenna School (C119)",
    "NE=49770877": "Agha Fahad",
    "NE=51152560": "Jawad Siddiqui",
    "NE=51009967": "Fahad Kundi",
    "NE=52337623": "Hussain Shah",
    "NE=50399893": "Faizan Faizi",
    "NE=51137454": "Ahmed Bugti",
    "NE=50333662": "Ali Akbar",
    "NE=50131311": "Dr. Atique",
    "NE=56548900": "Precision Polymers Pvt. Ltd.",
    "NE=51647028": "Air Weapons Complex",
    "NE=49709503": "Wajiha Maryam Mehdi",
    "NE=51184731": "Mohsin Ali",
    "NE=54947138": "Noor Garments",
    "NE=50588381": "Omer Memon",
    "NE=49728853": "Shabbar Khan",
    "NE=51613148": "Mohsin Farishta",
    "NE=50246425": "Mir Shabbir Ali Bijarani",
    "NE=50928514": "Saad Fayaz",
    "NE=50145990": "Naveed Sherwani",
    "NE=55269600": "Diamond Enterprises",
    "NE=50343308": "Sadiq Iftikhar",
    "NE=50368675": "Sahir Ali",
    "NE=51182086": "Saad Zia",
    "NE=55342258": "Aeon and Trisl",
    "NE=49786143": "Salahuddin Ahmad",
    "NE=51140305": "Faysal Kiani",
    "NE=57468560": "Avicenna School (C118)",
    "NE=50600070": "Springs",
    "NE=56847564": "Al Sheikh Pvt Ltd",
    "NE=55551454": "Makkah Masjid Trust",
    "NE=52457425": "Aqua Pearl",
    "NE=52588943": "Arooj Amjad",
    "7fb6c2e6-688a-4a69-aa2d-23ff1b550ec6": "Freyan Avari",
    "370803d8-890f-41b4-a9d7-dd28e37d45de": "Salman Rafi",
    "1298491919450213751": "Syed Mohammed Ali Raza",
    "1298491919450206040": "B.Gutsy",
    "1298491919450065590": "Talal Abbasi",
    "1298491919450031288": "Ghulam Muhammad Fahad",
    "1298491919450001067": "KK Holdings F. Kiani",
    "1298491919449459525": "Kamran Suhrwardy",
    "1298491919449319063": "Fahad Manzoor",
    "1298491919449291048": "Haroon Sheikh",
    "1298491919449290926": "Imtiaz Vazeer",
    "61267735": "Shahid Saleem",
    "61340819": "Nadeem Naeem",
    "61343504": "Jawed Munshi",
    "61465112": "Shahi Syed",
    "61662871": "PMI GUJRANWALA",
    "61814751": "Abdul Razzak Chandio",
    "61881722": "Adnan Ali",
    "62026371": "Javed Callea",
    "62141757": "Syed Shakil Ahmed",
    "62151912": "Raja Taimur",
    "62234450": "Junaid Inam",
    "62238468": "Raazi Hybrid",
    "62436537": "Saif/Khaliq ur Rehman",
    "62555064": "Sana Ali",
    "62594974": "Abdullah Ali",
    "62687241": "Dr Nauman",
    "62737162": "Muneeza",
    "62801674": "Abdul Qadir Galani",
    "63003154": "Abbas Haider/Anis Begum",
    "63116323": "Farooq kundi",
    "63287383": "Raazi",
    "63503541": "Orphanage",
    "63847425": "Jam Mohsin",
    "64131299": "Malik Dilmurad",
    "64337952": "Yahyah Iqbal",
    "64526018": "Tariq Dada",
    "64698478": "Ali Haider",
    "1828125": "Qamar-e-bani Hashim, Secondary School",
    "1832664": "Qamar-e-Bani Hashim Secondary School 1",
    "1836454": "Qamar-e-Bani Hashim Secondary School 2",
    "1836568": "Qamar-e-Bani Hashim Secondary School 3",
    "2738771": "Imran Khan",
    "3324760": "Faisal Bin Faheem Home",
    "50381385": "VIS Lahore"
}
data["client_name"] = data["client_name"].fillna(data["ps_ids"].map(clients))
data.to_csv("updated_data.csv", index=False)
print(data["client_name"])

0        Muhammad Aslam Jamot
1              Sikander Kasim
2               Taimur Kaleem
3                 Assad Rahim
4                Mujtaba Raza
                 ...
10318            Abdullah Ali
10319            Yahyah Iqbal
10320              Tariq Dada
10321              Ali Haider
10322       Al Sheikh Pvt Ltd
Name: client_name, Length: 10323, dtype: object

In [28]:
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,NaN,NaN,NaN,NaN
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,NaN,NaN,NaN,NaN
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,NaN,NaN,NaN,NaN
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,NaN,NaN,NaN,NaN
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,NaN,NaN,NaN,NaN

In [30]:
data.tail()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
10318,62594974,Abdullah Ali,0,0,15.21,0,100,Solarman,Offline,2025-11-03,residential,0,6:57pm,Karachi,Clear,solar_citizen
10319,64337952,Yahyah Iqbal,0,0,12.1,0,100,Solarman,Offline,2025-11-03,residential,0,6:57pm,Karachi,Clear,solar_citizen
10320,64526018,Tariq Dada,0,0,10.45,0,100,Solarman,Offline,2025-11-03,residential,0,6:57pm,Karachi,Clear,solar_citizen
10321,64698478,Ali Haider,0,0,9.92,0,100,Solarman,Offline,2025-11-03,residential,0,6:57pm,Karachi,Clear,solar_citizen
10322,NE=56847564,Al Sheikh Pvt Ltd,0,NaN,0,NaN,NaN,Huawei,Offline,2025-11-03,residential,0,6:45 pm,Karachi,Clear,solar_citizen

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10323 entries, 0 to 10322
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ps_ids             10208 non-null  object
 1   client_name        10059 non-null  object
 2   daily_production   10208 non-null  object
 3   daily_consumption  7061 non-null   object
 4   install_power      10208 non-null  object
 5   specific_yield     10249 non-null  object
 6   deviation_percent  10150 non-null  object
 7   Vendor             10208 non-null  object
 8   status             10208 non-null  object
 9   date               10208 non-null  object
 10  inverter_category  10204 non-null  object
 11  potential_savings  9896 non-null   object
 12  time_recorded      7855 non-null   object
 13  city               2049 non-null   object
 14  weather            2049 non-null   object
 15  epc                2070 non-null   object
dtypes: object(16)
memory usage: 1.3+ MB

In [34]:
data.isnull().sum()

ps_ids                115
client_name           264
daily_production      115
daily_consumption    3262
install_power         115
specific_yield         74
deviation_percent     173
Vendor                115
status                115
date                  115
inverter_category     119
potential_savings     427
time_recorded        2468
city                 8274
weather              8274
epc                  8253
dtype: int64

In [ ]:
city = {
  "1231654": "Karachi",
  "1240364": "Karachi",
  "1252765": "Karachi",
  "1289442": "Karachi",
  "1307163": "Karachi",
  "1310804": "Karachi",
  "1312163": "Karachi",
  "1328323": "Karachi",
  "1334120": "Karachi",
  "1352473": "Karachi",
  "1483330": "Karachi",
  "1485524": "Karachi",
  "1497201": "Karachi",
  "1553796": "Karachi",
  "1561078": "Karachi",
  "1597149": "Karachi",
  "1625771": "Karachi",
  "1625780": "Karachi",
  "1199280": "Karachi",
  "1206067": "Karachi",
  "1206667": "Karachi",
  "1207292": "Karachi",
  "1208647": "Karachi",
  "1626352": "Karachi",
  "1215686": "Karachi",
  "1195721": "Karachi",
  "1222062": "Karachi",
  "NE=49771840": "Karachi",
  "NE=49709713": "Karachi",
  "NE=50447754": "Karachi",
  "NE=47806824": "Karachi",
  "NE=50368573": "Karachi",
  "NE=49759147": "Karachi",
  "NE=50146552": "Karachi",
  "NE=50348103": "Karachi",
  "NE=51039519": "Karachi",
  "NE=50807506": "Karachi",
  "NE=51138805": "Karachi",
  "NE=52858953": "Karachi",
  "NE=49771193": "Karachi",
  "NE=51315774": "Karachi",
  "NE=51142924": "Karachi",
  "NE=50490570": "Karachi",
  "NE=50328253": "Karachi",
  "NE=51143444": "Karachi",
  "NE=50582712": "Karachi",
  "NE=51093745": "Karachi",
  "NE=49738811": "Karachi",
  "NE=49769219": "Karachi",
  "NE=49770877": "Karachi",
  "NE=51152560": "Karachi",
  "NE=51009967": "Karachi",
  "NE=52337623": "Karachi",
  "NE=50399893": "Karachi",
  "NE=51137454": "Karachi",
  "NE=50333662": "Karachi",
  "NE=50131311": "Karachi",
  "NE=56548900": "Sheikhupura",
  "NE=51647028": "Karachi",
  "NE=49709503": "Karachi",
  "NE=51184731": "Karachi",
  "NE=54947138": "Karachi",
  "NE=50588381": "Karachi",
  "NE=49728853": "Karachi",
  "NE=51613148": "Karachi",
  "NE=50246425": "Karachi",
  "NE=50928514": "Karachi",
  "NE=50145990": "Karachi",
  "NE=55269600": "Karachi",
  "NE=50343308": "Karachi",
  "NE=50368675": "Karachi",
  "NE=51182086": "Karachi",
  "NE=55342258": "Karachi",
  "NE=49786143": "Karachi",
  "NE=51140305": "Karachi",
  "NE=57468560": "Karachi",
  "NE=50600070": "Karachi",
  "NE=56847564": "Karachi",
  "NE=55551454": "Karachi",
  "NE=52457425": "Karachi",
  "NE=52588943": "Karachi",
  "7fb6c2e6-688a-4a69-aa2d-23ff1b550ec6": "Karachi",
  "370803d8-890f-41b4-a9d7-dd28e37d45de": "Karachi",
  "1298491919450213751": "Karachi",
  "1298491919450206040": "Karachi",
  "1298491919450065590": "Karachi",
  "1298491919450031288": "Karachi",
  "1298491919450001067": "Karachi",
  "1298491919449459525": "Karachi",
  "1298491919449319063": "Karachi",
  "1298491919449291048": "Karachi",
  "1298491919449290926": "Karachi",
  "61267735": "Karachi",
  "61340819": "Karachi",
  "61343504": "Karachi",
  "61465112": "Karachi",
  "61662871": "Gujranwala",
  "61814751": "Karachi",
  "61881722": "Karachi",
  "62026371": "Karachi",
  "62141757": "Karachi",
  "62151912": "Karachi",
  "62234450": "Karachi",
  "62238468": "Karachi",
  "62436537": "Karachi",
  "62555064": "Karachi",
  "62594974": "Karachi",
  "62687241": "Karachi",
  "62737162": "Karachi",
  "62801674": "Karachi",
  "63003154": "Karachi",
  "63116323": "Karachi",
  "63287383": "Karachi",
  "63503541": "Karachi",
  "63847425": "Karachi",
  "64131299": "Karachi",
  "64337952": "Karachi",
  "64526018": "Karachi",
  "64698478": "Karachi",
  "1828125": "Karachi",
  "1832664": "Karachi",
  "1836454": "Karachi",
  "1836568": "Karachi",
  "2738771": "Karachi",
  "3324760": "Karachi",
  "50381385": "Lahore"
}
data["city"] = data["city"].fillna(data["ps_ids"].map(city))

In [42]:
data["city"] = data["city"].fillna(data["ps_ids"].map(city))
data.to_csv("updated_data.csv", index=False)
print(data["city"])

0        Karachi
1        Karachi
2        Karachi
3        Karachi
4        Karachi
          ...
10318    Karachi
10319    Karachi
10320    Karachi
10321    Karachi
10322    Karachi
Name: city, Length: 10323, dtype: object

In [44]:
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,NaN,Karachi,NaN,NaN
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,NaN,Karachi,NaN,NaN
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,NaN,Karachi,NaN,NaN
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,NaN,Karachi,NaN,NaN
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,NaN,Karachi,NaN,NaN

In [47]:
data["epc"] = data["epc"].fillna("solar_citizen")
data.to_csv("updated_data.csv", index=False)
print(data["epc"])

0        solar_citizen
1        solar_citizen
2        solar_citizen
3        solar_citizen
4        solar_citizen
             ...
10318    solar_citizen
10319    solar_citizen
10320    solar_citizen
10321    solar_citizen
10322    solar_citizen
Name: epc, Length: 10323, dtype: object

In [49]:
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,NaN,Karachi,NaN,solar_citizen
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,NaN,Karachi,NaN,solar_citizen
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,NaN,Karachi,NaN,solar_citizen
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,NaN,Karachi,NaN,solar_citizen
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,NaN,Karachi,NaN,solar_citizen

In [62]:
import random 

weather_list = ["Sunny", "Cloudy", "Rainy", "Windy", "Stormy", "Foggy"]
print(random.choice(weather_list))

Cloudy

In [ ]:
data["weather"] = data["weather"].fillna(random.choice(weather_list))
data.to_csv("updated_data.csv", index=False)
print(data["weather"])

0        Windy
1        Windy
2        Windy
3        Windy
4        Windy
         ...
10318    Clear
10319    Clear
10320    Clear
10321    Clear
10322    Clear
Name: weather, Length: 10323, dtype: object

In [69]:
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,NaN,Karachi,Windy,solar_citizen
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,NaN,Karachi,Windy,solar_citizen
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,NaN,Karachi,Windy,solar_citizen
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,NaN,Karachi,Windy,solar_citizen
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,NaN,Karachi,Windy,solar_citizen

In [73]:
data["time_recorded"] = data["time_recorded"].bfill()

In [76]:
data["time_recorded"]
data.to_csv("updated_data.csv", index=False)

In [82]:
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,6:30 pm,Karachi,Windy,solar_citizen
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,6:30 pm,Karachi,Windy,solar_citizen
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,6:30 pm,Karachi,Windy,solar_citizen
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,6:30 pm,Karachi,Windy,solar_citizen
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,6:30 pm,Karachi,Windy,solar_citizen

In [80]:
data.isnull().sum()

ps_ids                115
client_name           264
daily_production      115
daily_consumption    3262
install_power         115
specific_yield         74
deviation_percent     173
Vendor                115
status                115
date                  115
inverter_category     119
potential_savings     427
time_recorded           0
city                  137
weather                 0
epc                     0
dtype: int64

In [85]:
data["weather"] = data["weather"].replace("Windy", "Sunny")
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,6:30 pm,Karachi,Sunny,solar_citizen
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,6:30 pm,Karachi,Sunny,solar_citizen
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,6:30 pm,Karachi,Sunny,solar_citizen
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,6:30 pm,Karachi,Sunny,solar_citizen
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,6:30 pm,Karachi,Sunny,solar_citizen

In [93]:
data.isnull().sum()
data.to_csv("updated_data.csv", index=False)

In [106]:
data.ffill(inplace=True)
print(data.isnull().sum())

ps_ids               0
client_name          0
daily_production     0
daily_consumption    0
install_power        0
specific_yield       0
deviation_percent    0
Vendor               0
status               0
date                 0
inverter_category    0
potential_savings    0
time_recorded        0
city                 0
weather              0
epc                  0
dtype: int64

In [108]:
data.isnull().sum()

ps_ids               0
client_name          0
daily_production     0
daily_consumption    0
install_power        0
specific_yield       0
deviation_percent    0
Vendor               0
status               0
date                 0
inverter_category    0
potential_savings    0
time_recorded        0
city                 0
weather              0
epc                  0
dtype: int64

In [109]:
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,6:30 pm,Karachi,Sunny,solar_citizen
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,6:30 pm,Karachi,Sunny,solar_citizen
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,6:30 pm,Karachi,Sunny,solar_citizen
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,6:30 pm,Karachi,Sunny,solar_citizen
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,6:30 pm,Karachi,Sunny,solar_citizen

In [100]:
data1 = pd.read_csv("updated_data.csv")
data1.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,6:30 pm,Karachi,Sunny,solar_citizen
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,6:30 pm,Karachi,Sunny,solar_citizen
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,6:30 pm,Karachi,Sunny,solar_citizen
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,6:30 pm,Karachi,Sunny,solar_citizen
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,6:30 pm,Karachi,Sunny,solar_citizen

In [101]:
data1.isnull().sum()

ps_ids                115
client_name           264
daily_production      115
daily_consumption    3262
install_power         115
specific_yield         74
deviation_percent     173
Vendor                115
status                115
date                  115
inverter_category     119
potential_savings     427
time_recorded           0
city                  137
weather                 0
epc                     0
dtype: int64