In [ ]:
import pandas as pd

In [6]:
# Load the dataset
data = pd.read_csv('SolarCitizenInternalReport.csv')
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,NaN,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,NaN,NaN,NaN,NaN
1,1553796,NaN,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,NaN,NaN,NaN,NaN
2,1352473,NaN,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,NaN,NaN,NaN,NaN
3,1252765,NaN,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,NaN,NaN,NaN,NaN
4,1497201,NaN,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,NaN,NaN,NaN,NaN

In [8]:
data.isnull().sum()

ps_ids                115
client_name          8253
daily_production      115
daily_consumption    3262
install_power         115
specific_yield         74
deviation_percent     173
Vendor                115
status                115
date                  115
inverter_category     119
potential_savings     427
time_recorded        2468
city                 8274
weather              8274
epc                  8253
dtype: int64

In [26]:
clients = {
    "1231654": "Shahid Khan",
    "1240364": "Jubilee Spinning",
    "1252765": "Assad Rahim",
    "1289442": "Aman Naseem",
    "1307163": "Najeeb Saad",
    "1310804": "Muhammad Aslam Jamot",
    "1312163": "Shehriyar Zaidi",
    "1328323": "Ali Javeri",
    "1334120": "Paul Textile",
    "1352473": "Taimur Kaleem",
    "1483330": "Malik Ghayoor",
    "1485524": "Rubab Zehra",
    "1497201": "Mujtaba Raza",
    "1553796": "Sikander Kasim",
    "1561078": "Umair Aijaz",
    "1597149": "Moiz Ahmed",
    "1625771": "Haider Waheed [10kW]",
    "1625780": "Haider Waheed [20kW]",
    "1199280": "Hisham Abdul Kadir",
    "1206067": "Imran Hanif",
    "1206667": "Talib Karim",
    "1207292": "Zia Akhtar Rizvi",
    "1208647": "Omar Abbasi",
    "1626352": "Abdul Hameed Baig",
    "1215686": "Zohra Alam",
    "1195721": "Nauman Ul Arfeen",
    "1222062": "Asad Iftikhar",
    "NE=49771840": "Rizwan Farooq",
    "NE=49709713": "Adil But",
    "NE=50447754": "Ehtesham Ali",
    "NE=47806824": "Syed Razi Aziz",
    "NE=50368573": "Aslam Khaliq",
    "NE=49759147": "Syed Safdar Husain",
    "NE=50146552": "Qamar-e-Bani Hashim",
    "NE=50348103": "Hizbullah Bhutto",
    "NE=51039519": "Raja Dawood Akbar",
    "NE=50807506": "Mujtaba Pirwani",
    "NE=51138805": "IoBM",
    "NE=52858953": "Asharys",
    "NE=49771193": "Justice Agha Rafiq",
    "NE=51315774": "Shahid Nadeem",
    "NE=51142924": "Saad Nasir",
    "NE=50490570": "Saeed Shahzad",
    "NE=50328253": "Tariq Abdullah",
    "NE=51143444": "Usman Wali",
    "NE=50582712": "Commtel",
    "NE=51093745": "Najeeb Danawala",
    "NE=49738811": "Muhammad Irshad Ataka",
    "NE=49769219": "Avicenna School (C119)",
    "NE=49770877": "Agha Fahad",
    "NE=51152560": "Jawad Siddiqui",
    "NE=51009967": "Fahad Kundi",
    "NE=52337623": "Hussain Shah",
    "NE=50399893": "Faizan Faizi",
    "NE=51137454": "Ahmed Bugti",
    "NE=50333662": "Ali Akbar",
    "NE=50131311": "Dr. Atique",
    "NE=56548900": "Precision Polymers Pvt. Ltd.",
    "NE=51647028": "Air Weapons Complex",
    "NE=49709503": "Wajiha Maryam Mehdi",
    "NE=51184731": "Mohsin Ali",
    "NE=54947138": "Noor Garments",
    "NE=50588381": "Omer Memon",
    "NE=49728853": "Shabbar Khan",
    "NE=51613148": "Mohsin Farishta",
    "NE=50246425": "Mir Shabbir Ali Bijarani",
    "NE=50928514": "Saad Fayaz",
    "NE=50145990": "Naveed Sherwani",
    "NE=55269600": "Diamond Enterprises",
    "NE=50343308": "Sadiq Iftikhar",
    "NE=50368675": "Sahir Ali",
    "NE=51182086": "Saad Zia",
    "NE=55342258": "Aeon and Trisl",
    "NE=49786143": "Salahuddin Ahmad",
    "NE=51140305": "Faysal Kiani",
    "NE=57468560": "Avicenna School (C118)",
    "NE=50600070": "Springs",
    "NE=56847564": "Al Sheikh Pvt Ltd",
    "NE=55551454": "Makkah Masjid Trust",
    "NE=52457425": "Aqua Pearl",
    "NE=52588943": "Arooj Amjad",
    "7fb6c2e6-688a-4a69-aa2d-23ff1b550ec6": "Freyan Avari",
    "370803d8-890f-41b4-a9d7-dd28e37d45de": "Salman Rafi",
    "1298491919450213751": "Syed Mohammed Ali Raza",
    "1298491919450206040": "B.Gutsy",
    "1298491919450065590": "Talal Abbasi",
    "1298491919450031288": "Ghulam Muhammad Fahad",
    "1298491919450001067": "KK Holdings F. Kiani",
    "1298491919449459525": "Kamran Suhrwardy",
    "1298491919449319063": "Fahad Manzoor",
    "1298491919449291048": "Haroon Sheikh",
    "1298491919449290926": "Imtiaz Vazeer",
    "61267735": "Shahid Saleem",
    "61340819": "Nadeem Naeem",
    "61343504": "Jawed Munshi",
    "61465112": "Shahi Syed",
    "61662871": "PMI GUJRANWALA",
    "61814751": "Abdul Razzak Chandio",
    "61881722": "Adnan Ali",
    "62026371": "Javed Callea",
    "62141757": "Syed Shakil Ahmed",
    "62151912": "Raja Taimur",
    "62234450": "Junaid Inam",
    "62238468": "Raazi Hybrid",
    "62436537": "Saif/Khaliq ur Rehman",
    "62555064": "Sana Ali",
    "62594974": "Abdullah Ali",
    "62687241": "Dr Nauman",
    "62737162": "Muneeza",
    "62801674": "Abdul Qadir Galani",
    "63003154": "Abbas Haider/Anis Begum",
    "63116323": "Farooq kundi",
    "63287383": "Raazi",
    "63503541": "Orphanage",
    "63847425": "Jam Mohsin",
    "64131299": "Malik Dilmurad",
    "64337952": "Yahyah Iqbal",
    "64526018": "Tariq Dada",
    "64698478": "Ali Haider",
    "1828125": "Qamar-e-bani Hashim, Secondary School",
    "1832664": "Qamar-e-Bani Hashim Secondary School 1",
    "1836454": "Qamar-e-Bani Hashim Secondary School 2",
    "1836568": "Qamar-e-Bani Hashim Secondary School 3",
    "2738771": "Imran Khan",
    "3324760": "Faisal Bin Faheem Home",
    "50381385": "VIS Lahore"
}
data["client_name"] = data["client_name"].fillna(data["ps_ids"].map(clients))
data.to_csv("updated_data.csv", index=False)
print(data["client_name"])

0        Muhammad Aslam Jamot
1              Sikander Kasim
2               Taimur Kaleem
3                 Assad Rahim
4                Mujtaba Raza
                 ...
10318            Abdullah Ali
10319            Yahyah Iqbal
10320              Tariq Dada
10321              Ali Haider
10322       Al Sheikh Pvt Ltd
Name: client_name, Length: 10323, dtype: object

In [28]:
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,NaN,NaN,NaN,NaN
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,NaN,NaN,NaN,NaN
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,NaN,NaN,NaN,NaN
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,NaN,NaN,NaN,NaN
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,NaN,NaN,NaN,NaN

In [25]:
data.head()

,ps_ids,client_name,daily_production,daily_consumption,install_power,specific_yield,deviation_percent,Vendor,status,date,inverter_category,potential_savings,time_recorded,city,weather,epc
0,1310804,Muhammad Aslam Jamot,108.8,98.1,23.27,4.68,0,Sungrow,Excellent,2025-07-23,residential,4950.4,NaN,NaN,NaN,NaN
1,1553796,Sikander Kasim,18.9,0,7.08,2.67,19.17,Sungrow,Good,2025-07-23,residential,860,NaN,NaN,NaN,NaN
2,1352473,Taimur Kaleem,51.9,0,19.89,2.61,20.99,Sungrow,Below Average,2025-07-23,residential,2361.5,NaN,NaN,NaN,NaN
3,1252765,Assad Rahim,33.4,0,13.75,2.43,26.45,Sungrow,Below Average,2025-07-23,residential,1519.7,NaN,NaN,NaN,NaN
4,1497201,Mujtaba Raza,50.2,0,21.06,2.38,27.82,Sungrow,Below Average,2025-07-23,residential,2284.1,NaN,NaN,NaN,NaN